.imgCart{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 30%;
    margin-top: 15px;
    transform: translate(250px , 10px);
}

.counterCart{
    color: #000;
    margin-top: 0;
    transform: translate(250px , 10px);
}