@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

img {
  width: 100%;
  height: 50vh;
}
.imageContainer {
  overflow: hidden;
  margin: 5% 2%;
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.imgsCarousel{
  width: 30px;
  height: 30px;
  opacity: 0.09;
}
.btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 10%;
}

.btn:hover {
  opacity: 0.3;
}

.btn:focus {
  outline: none;
}